*,
body,
html {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-color: transparent;
}

.sub_board {
  width: 100%;
  height: 90%;
  padding: 10px;
  margin-top: 0px;
  background-color: #f4f4f4;
  overflow: hidden;
  box-sizing: border-box;
}
.sep_board {
  width: 100%;
  height: 10%;
}
.graf_board {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 9.5%,
    rgba(0, 0, 0, 0.3) 10%,
    rgba(0, 0, 0, 0) 10.5%,
    rgba(0, 0, 0, 0) 19.5%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0) 20.5%,
    rgba(0, 0, 0, 0) 29.5%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0) 30.5%,
    rgba(0, 0, 0, 0) 39.5%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0) 40.5%,
    rgba(0, 0, 0, 0) 49.5%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 50.5%,
    rgba(0, 0, 0, 0) 59.5%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0) 60.5%,
    rgba(0, 0, 0, 0) 69.5%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0) 70.5%,
    rgba(0, 0, 0, 0) 79.5%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0) 80.5%,
    rgba(0, 0, 0, 0) 89.5%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0) 90.5%,
    rgba(0, 0, 0, 0) 100%
  );

  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 9.5%,
    rgba(0, 0, 0, 0.3) 10%,
    rgba(0, 0, 0, 0) 10.5%,
    rgba(0, 0, 0, 0) 19.5%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0) 20.5%,
    rgba(0, 0, 0, 0) 29.5%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0) 30.5%,
    rgba(0, 0, 0, 0) 39.5%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0) 40.5%,
    rgba(0, 0, 0, 0) 49.5%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 50.5%,
    rgba(0, 0, 0, 0) 59.5%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0) 60.5%,
    rgba(0, 0, 0, 0) 69.5%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0) 70.5%,
    rgba(0, 0, 0, 0) 79.5%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0) 80.5%,
    rgba(0, 0, 0, 0) 89.5%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0) 90.5%,
    rgba(0, 0, 0, 0) 100%
  );

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 9.5%,
    rgba(0, 0, 0, 0.3) 10%,
    rgba(0, 0, 0, 0) 10.5%,
    rgba(0, 0, 0, 0) 19.5%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0) 20.5%,
    rgba(0, 0, 0, 0) 29.5%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0) 30.5%,
    rgba(0, 0, 0, 0) 39.5%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0) 40.5%,
    rgba(0, 0, 0, 0) 49.5%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 50.5%,
    rgba(0, 0, 0, 0) 59.5%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0) 60.5%,
    rgba(0, 0, 0, 0) 69.5%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0) 70.5%,
    rgba(0, 0, 0, 0) 79.5%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0) 80.5%,
    rgba(0, 0, 0, 0) 89.5%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0) 90.5%,
    rgba(0, 0, 0, 0) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.barra {
  width: 100%;
  height: 100%;
  margin-right: 15px;
  margin-left: 15px;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.tag_g {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  text-align: center;
  margin-top: -20px;
  z-index: 2;
}
.tag_leyenda {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
.tag_board {
  height: 100%;
  width: 15%;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
.sub_tag_board {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.sub_tag_board > div {
  width: 100%;
  height: 10%;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
}
.img {
  overflow: hidden;
  display: block;
}
.clip {
  clip: rect(0px, 100px, 100px, 0px);
  position: absolute;
}

.reflect {
  width: 95%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-color: white;

  z-index: 99;
}

.cursorZoom {
  background-color: rgba(236, 236, 236, 0.6);
  width: 100px;
  height: 100px;
  position: absolute;
  transition: all ease-in-out;
  visibility: hidden;
  z-index: 999;
}

.img_container :hover ~ .cursorZoom {
  visibility: visible;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.checkL .chakra-checkbox__label {
  width: 100% !important;
}
.link_fav {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.contenedor {
  z-index: 5;
}
