*,
body,
html {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  padding: 10px 0;
  font-weight: bold;
  border: none;
  border-color: transparent;
}

@media (min-width: 768px) {
  a {
    text-decoration: none;
    padding: 2rem 0;
  }
  .active {
    border-bottom: 3px solid hsl(26, 100%, 55%);
  }
}
